nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15svh;
  background-color: var(--psl-color-1);
  padding: var(--psl-padding-m);
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 300px;
}

.logo p {
  font-size: 2.3em;
}

.Psl {
 color: var(--psl-color-5);
}

.toggleImg {
  width: 30px;
}

li {
  font-size: 1.2em;
  font-weight: 00;
}

.active {
  border-bottom: 2px solid var(--psl-color-3);
}

.toggle {
  display: none;
}

.language-toggle {
  min-width: 60px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--psl-padding-xxs);
  border-radius: var(--psl-br);
  border: 1px solid var(--psl-color-3);
}

.flag-icon {
  display: flex;
  align-items: center;
  width: 22px;
  height: auto;
  transition: transform 0.2s ease;
}

.language-toggle:hover .flag-icon {
  transform: scale(1.1);
}

@media screen and (max-width: 450px) {
  .logo {
    width: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .toggle {
    display: block;
  }
  .menu {
    height: 250px;
    display: none;
  }

  .menu.open {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 15svh;
    left: 0;
    display: block;
    max-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--psl-color-1);
    z-index: 9;
  }
}

@media screen and (max-width: 1300px) {
  nav ul {
    width: 55%;
  }
}
